[Unit]
Description=Grayskull
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=jbrenner
ExecStart=/usr/bin/env node /home/jbrenner/grayskull/index.js

[Install]
WantedBy=multi-user.target
